/* Box Model Hack */
* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
html {
  font-size: 62.5%;
  background-color: #ede7de;
}
header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
  top: 60px;
  z-index: 1;
  width: 100%;
  
  
  

}
#title {
  width: 75%;
  display: flex;
  justify-content: center;
  color: rgb(102, 149, 122);
  font-size: 1.5vw;
  
  
  flex-wrap: wrap;
  
  height: 100px;
  align-content: center;

  
  
  
}
nav {
  width: 100%;
}

.letter {
  font-size: 3vw;
}
h1 {
  opacity: 75%;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
h1:hover{
  color:rgb(13, 66, 36)
}
nav ul{
  display: flex;
  justify-content: space-around;
  
  
  
}
ul {
  display: flex;
  justify-content: center;
  padding: 0;
}
li, a {
  text-decoration: none;
  list-style: none;
  color:  rgb(102, 149, 122);
  width: 30%;
  display: flex;
  justify-content: center;
  font-size: 2.7vw;
  
  
}
a:hover {
  color: rgb(13, 66, 36)
}

  

nav {
  
  width: 100%;
  height: 60px;
  position: relative;
  bottom: 20px;
  
  
  
  
  
  
}
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: rgb(102, 149, 122) solid 1px;
}
#slide {
  display: flex;
  justify-content: center;
 
  width: 100%;
}
#slide img {
  width: 65%;
  height: 400px;
}
#slideCont {
  border: rgb(102, 149, 122) double 1px;
  display: flex;
  justify-content: center;
  width: 75%;
  height: 500px;
  align-items: center;
}


/*slide show*/
/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  bottom: 70px;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
#quote {
  color: white;
  position: relative;
  bottom: 300px;
  font-size: 1.5vw;
  width: 50%;
  font-style: italic;
  opacity: 80%;
  
}

.container {
  width: 100%;
  display: flex;
  /* height: 600px; */
  margin-bottom: 200px;
  flex-shrink: 1;

}
.container img {
  width: 50%;
  
}
#imgBackAbout {
  background-image: url(./photos/PXL_20211209_174100409\ \(Medium\).jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: stretch;
  width: 50%;
}
#imgBackMission {
  background-image: url(./photos/PXL_20220422_161438991.MP.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: stretch;
  width: 50%;
}
#imgBackContact {
  background-image: url(./photos/PXL_20211209_185907913.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: stretch;
  width: 50%;
}
.containerText {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(102, 149, 122);
  color: white;
  font-size: 2vw;
  flex-direction: column;
  
}
.container .containerText h2 {
  margin-bottom: 0px;
}
h2 {
  color: rgb(215, 153, 6)
}
h3 {
  margin: 7px 0 0 0;
}
#mission {
  flex-direction: row-reverse;
}
#location {
  flex-direction: row-reverse;
}
.containerText {
  width: 50%;
}
iframe {
  max-height: 600px;
  width: 50%;
}
.cont {
  color:rgb(215, 153, 6)
}
.contImg {
  height: 3vw;
  
}
#methods {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-self: flex-start;
}

#socials {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  width: 75%;
  flex-direction: row;
}
footer {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  height: 50px;


}
#logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
#logo img {
  width: 40%;
  
}

.soc {
  width: 20%;
}
.soc  {
  height: 150px;
  opacity: 30%;
}

/* New Class for Nav on Scroll */

/* .scrolled{
  background:#ede7de;
} */
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
